/* ChatLayout.module.css */
.chatLayout {
    display: flex;
    height: 100vh; /* Viewport height */
}
  
.listContainer {
    flex: 0 0 250px; /* 定义列表宽度 */
    background-color: #f0f0f0; /* 浅灰色背景 */
    padding: 5px;
    display: flex;
    flex-direction: column;
}
  
.listContainer button {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: 10px; /* 在按钮之间添加间距 */
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;  /* 文本左对齐 */
    width: 100%;  /* 按钮宽度充满容器宽度 */
}
  
.listContainer button:hover {
    background-color: #e6f7ff; /* 鼠标悬浮时的背景颜色 */
}
  
.chatContainer {
    flex: 1; /* 填充剩余空间 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  